
*{
 padding: 0px;
 margin: 0px;
}

.main {
    height: 100vh;
    display: grid;

    /* /* grid-template: 100px 200px/ auto  200px; */
    
    /* grid-template-columns:400px 300px;
    grid-template-rows: 100px 200px; */

    grid-template: 100px auto 120px / auto 300px;

    grid-gap: 10px 25px;
} 


.main div:nth-child(1){
    background-color: aqua;
    grid-column: 1 / span 2;
   
}

.main div:nth-child(2){
    background-color: red;
   
}

.main div:nth-child(3){
    background-color: violet;

   
}

.main div:nth-child(4){
    background-color: green;
    grid-column: auto / span 2;
   
}


